<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-8">
      <div class="d-flex  flex-wrap align-content-start flex-row">
        <div class="m-5 p-3" *ngFor="let card of cardDetails; index as i; ">
          <app-card
            [name]="card.name"
            [password]="card.password"
            [index]="i"
            (cardDelete)="handleDeleteData($event)"
          ></app-card>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <app-getdetails (formSave)="handleFormData($event)"
      (nameCheck)="handleNameData($event)"
      [nameStatus]="nameCheckStatus"
      ></app-getdetails>
    </div>
  </div>
</div>
